body{
	margin:0px;
	padding:0px;
}

.top-banner{
	background-image: linear-gradient(-221deg, #EB6523 0%, #F79F48 100%);
	font-family: Avenir-Light;
	font-size: 40px;
	color: #FFFFFF;
	letter-spacing: 0;
	height:300px;
	line-height: 300px;
	padding-left:100px;
}

#pieChartModal{
	width:600px;
	height:400px;
}